.input{
    display: flex;
    flex-direction: column;
}

.component-input-label{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;

    width: 100%;

}
.component-input-input{
    height: 50px;
    border-radius: 10px;
    border: 1px solid dimgray;
    font-size: 18px;
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
    top: 10px;
}


.component-input-input2{
    min-height: 250px;
    border-radius: 10px;
    border: 1px solid dimgray;
    font-size: 18px;
    padding-left: 20px;
    font-family: 'Quicksand', sans-serif;
    top: 10px;
    overflow-y: scroll;
    overflow: visible;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);

}


.publicarHr {
    margin: 20px;
}

.publicarBottom {
    display: flex;
    align-items: start;
    justify-content: flex-start;

}

.publicarOpciones{
    display: flex;
    justify-content: start;
}

.publicarOpcion{
    display: flex;
    align-items: start;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

}

.publicarButton{
    width:100%;
    background-color:  #3B5BCD;
    margin-top: 30px;
}
